SPRING_PROFILES_ACTIVE=docker

DB_URL=jdbc:mysql://db:3306/bfrost?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=bfrost
DB_PASSWORD=bfrost

JWT_SECRET=devonlysecretkeydevonlysecretkeydevonlysecretkey

UPLOAD_DIR=uploads
BASE_URL=http://localhost:8080